<!doctype html>
<html class="no-js" lang="en">

<head>
	{% load static %}

    <title>Supreme Shoppy an Ecommerce Online Shopping Category Flat Bootstrap Responsive Website Template | Single :: w3layouts</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Profile page HTML Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="User Profile page HTML Template">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/favicon.png'%}">

    <!-- CSS (Font, Vendor, Icon, Plugins & Style CSS files) -->
    <!-- Fonts CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">

    <!-- Vendor CSS (Bootstrap & Icon Font) -->
	<link rel="stylesheet" href="./assets/css/vendor/bootstrap.css">
	<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js">
</script>

    <!-- Plugins CSS -->

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'assets/css/common.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/button.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/form.css'%}">
    <link rel="stylesheet" href="{% static 'assets/css/my-account.css'%}">
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css" media="screen" />
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/easy-responsive-tabs.css' %}" rel='stylesheet' type='text/css'/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />

</head>

<body>
<!-- header -->
<div class="header" id="home">
	<div class="container">
		<ul>
		    <li> <i class="fa fa-unlock" aria-hidden="true"></i> Hello,<b><strong>{{request.user}}</strong></b></li>
			<li><i class="fa fa-phone" aria-hidden="true"></i> Call : 01234567898</li>
			<li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:info@example.com">info@example.com</a></li>
		</ul>
	</div>
</div>
<!-- //header -->
<!-- header-bot -->
<div class="header-bot">
	<div class="header-bot_inner_wthreeinfo_header_mid">
		<div class="col-md-4 header-middle">
			<form method="get" action="/search" >
					<input name="query"  type="search"  placeholder="Search here..." required/>
					<input type="submit" value=" ">
					<div class="clearfix"></div>

			</form>
		</div>
		<!-- header-bot -->
			<div class="col-md-4 logo_agile">
				<h1><a href="index"><span>S</span>upreme Shoppy <i class="fa fa-shopping-bag top_logo_agile_bag" aria-hidden="true"></i></a></h1>
			</div>
        <!-- header-bot -->
		<div class="col-md-4 agileits-social top_content">
						<ul class="social-nav model-3d-0 footer-social w3_agile_social">
						                                   <li class="share">Share On : </li>
															<li><a href="https://www.facebook.com" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="https://www.twitter.com" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="https://www.instagram.com" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="https://www.pinterest.com" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>



		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- //header-bot -->
<!-- banner -->
<div class="ban-top">
	<div class="container">
			<div class="top_nav_left">
			<nav class="navbar navbar-default">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav menu__list">
					<li class="active menu__item"><a class="menu__link" href="index">Home <span class="sr-only">(current)</span></a></li>
					<li class=" menu__item"><a class="menu__link" href="about">About</a></li>
					<li class="dropdown menu__item">
						<a href="mens" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men's wear <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
										<a href="mens"><img src="{% static 'images/top2.jpg' %}" alt=" "/></a>
									</div>
									<div class="col-sm-3 multi-gd-img">
										{% for cat in mcategory %}
										{% for i in cat.category_set.all %}

										<ul class="multi-column-dropdown">
											<li><a href="/mens?category={{i.id}}">{{i.name}}</a></li>

										</ul>
										{% endfor %}
										{% endfor %}
									<div class="clearfix"></div>
								</div>
							 </ul>
					</li>
					<li class="dropdown menu__item">
						<a href="womens" class="dropdown-toggle menu__link" data-toggle="dropdown" role="button" aria-haspopup="true" >Women's wear <span class="caret"></span></a>
							<ul class="dropdown-menu multi-column columns-3">
								<div class="agile_inner_drop_nav_info">
									<div class="col-sm-6 multi-gd-img1 multi-gd-text ">
										<a href="womens"><img src="{% static 'images/top1.jpg' %}" alt=" "/></a>
									</div>
									<div class="col-sm-3 multi-gd-img">
										{% for cat in wcategory %}
										{% for i in cat.category_set.all %}

										<ul class="multi-column-dropdown">
											<li><a href="/womens?category={{i.id}}">{{i.name}}</a></li>

										</ul>
										{% endfor %}
										{% endfor %}
									<div class="clearfix"></div>
								</div>
							 </ul>
					</li>
					<li class="menu__item dropdown">
					<li class=" menu__item"><a class="menu__link" href="typography">Dashboard</a></li>
					</li>
					<li class=" menu__item"><a class="menu__link" href="contact">Contact</a></li>
				  </ul>
				</div>
			  </div>
			</nav>
		</div>
		<div class="top_nav_right">
			<div class="wthreecartaits wthreecartaits2 cart cart box_1">
						<form action="cart" method="post" class="last">
							{% csrf_token %}
						<button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
					<span class="badge badge-secondary">{{request.session.cart|length}}</span></form>
						</div>
		</div>
		</div>
		<div class="clearfix"></div>
	</div>
<!-- //banner-top -->
<div class="page-head_agile_info_w3l">
		<div class="container">
			<h3>C<span>ontact Us </span></h3>
			<!--/w3_short-->
				 <div class="services-breadcrumb">
						<div class="agile_inner_breadcrumb">

						   <ul class="w3_short">
								<li><a href="index">Home</a><i>|</i></li>
								<li>My Home</li>
							</ul>
						 </div>
				</div>
	   <!--//w3_short-->
	</div>
</div>
 <!-- My Account Style Four Start -->
    <div class="section border-top">
        <div class="container">

            <h2 class="block-title">Shipping Address</h2>

            <div class="row row-cols-1 gy-8">

                <!-- My Account Tab List Start -->
                <div class="col">
                    <div class="ht-myaccount-4-tab nav">
                        <a href="#account-info-4" data-bs-toggle="tab"><i class="fa fa-user"></i>Account Details</a>
                    </div>
                </div>
                <!-- My Account Tab List End -->

                <!-- My Account Tab Content Start -->
                <div class="col">
                    <div class="tab-content">

                        <!-- Single Tab Content Start -->
                        <div class="tab-pane active fade in" id="account-info-4">
                            <div class="ht-myaccount-content">
                                <div class="account-details-form">
                                    <form action="resaddress" method="post">
										{% csrf_token %}
                                        <div class="row row-cols-1 gy-5">
                                            <div class="col">
                                                <div class="single-input-item">
                                                    <label class="form-label" for="first-name-4">House/Area <abbr class="required">*</abbr></label>
                                                    <input class="form-control" type="text" id="first-name-4" name="house">
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class="single-input-item"><br>
                                                    <label class="form-label" for="last-name-4">Locality <abbr class="required">*</abbr></label>
                                                    <input class="form-control" type="text" id="last-name-4" name="locality"><br>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <label class="form-label">District <abbr class="required">*</abbr></label>
												<select id="district" name="District">
													<option value="tsr">Select District</option>
													<option value="tsr">Thrissur</option>
													<option value="pkd">Palakkad</option>
													<option value="knr">kannur</option>
													<option value="kok">Kozhikode</option>
													<option value="wyd">Wayanad</option>
													<option value="mlp">Malapuram</option>
													<option value="ksg">Kazargode</option>
													<option value="ekm">Eranamkulam</option>
													<option value="idk">Idukki</option>
													<option value="klm">Kollam</option>
													<option value="ktym">Kottayam</option>
													<option value="ptm">Pathanamthitta</option>
													<option value="tvm">Thiruvanathapuram</option>
													<option value="alp">Alapuzha</option>
												</select><br>
                                            </div><br>
                                            <div class="col">
                                                <label class="form-label" for="email-4">Pincode <abbr class="required">*</abbr></label>
                                                <input class="form-control" type="number" id="email-4" name="pincode"><br>
                                            </div>
                                            <div class="col-12">
                                                <input type="submit" value="Save" class="form-submit btn btn-dark btn-hover-primary">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> <!-- Single Tab Content End -->

                    </div>
                </div> <!-- My Account Tab Content End -->
            </div>

        </div>
    </div>
    <!-- My Account Style Four End -->

<div class="coupons">
		<div class="coupons-grids text-center">
			<div class="w3layouts_mail_grid">
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>FREE SHIPPING</h3>
						<p>Supreme Shopppy Offering free shipping All-over India</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-headphones" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>24/7 SUPPORT</h3>
						<p> 24/7 Custommer Support For All Customers</p>
					</div>
				</div>
				<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-shopping-bag" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>MONEY BACK GUARANTEE</h3>
						<p>Money Back Guarantee For Selected Products</p>
					</div>
				</div>
					<div class="col-md-3 w3layouts_mail_grid_left">
					<div class="w3layouts_mail_grid_left1 hvr-radial-out">
						<i class="fa fa-gift" aria-hidden="true"></i>
					</div>
					<div class="w3layouts_mail_grid_left2">
						<h3>FREE GIFT COUPONS</h3>
						<p>Free Gift Coupons For Selected Products</p>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
</div>
<div class="footer">
	<div class="footer_agile_inner_info_w3l">
		<div class="col-md-3 footer-left">
			<h2><a href="index"><span>S</span>upreme Shoppy </a></h2>
			<p>Over its twenty-two plus year history, Supreme has worked with some of our generation's most groundbreaking designers - all who have helped continue to define its unique identity and attitude.</p>
			<ul class="social-nav model-3d-0 footer-social w3_agile_social two">
															<li><a href="https://www.facebook.com" class="facebook">
																  <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div></a></li>
															<li><a href="https://www.twitter.com" class="twitter">
																  <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div></a></li>
															<li><a href="https://www.instagram.com" class="instagram">
																  <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div></a></li>
															<li><a href="https://www.pinterest.com" class="pinterest">
																  <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
																  <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div></a></li>
														</ul>
		</div>
		<div class="col-md-9 footer-right">
			<div class="sign-grds">
				<div class="col-md-4 sign-gd">
					<h4>Our <span>Information</span> </h4>
					<ul>
						<li><a href="index">Home</a></li>
						<li><a href="mens">Men's Wear</a></li>
						<li><a href="womens">Women's wear</a></li>
						<li><a href="about">About</a></li>
						<li><a href="typography">Dashboard</a></li>
						<li><a href="contact">Contact</a></li>
					</ul>
				</div>

				<div class="col-md-5 sign-gd-two">
					<h4>Store <span>Information</span></h4>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>+91 8848934844</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:vishnu21112001@gmail.com"> vishnu21112001@gmail.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>Kanjani Road, Chungam, Ayyanthole,Thrissur, India

								</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
		<div class="clearfix"></div>


		<div class="clearfix"></div>

</div>
<!-- js -->
<script type="text/javascript" src="{% static 'js/jquery-2.1.4.min.js' %}"></script>
<!-- //js -->
	<!-- cart-js -->
	<script src="{% static 'js/minicart.min.js' %}"></script>
<script>
	// Mini Cart
	paypal.minicart.render({
		action: '#'
	});

	if (~window.location.search.indexOf('reset=true')) {
		paypal.minicart.reset();
	}
</script>

	<!-- //cart-js -->

<!-- stats -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'js/jquery.countup.js' %}"></script>
	<script>
		$('.counter').countUp();
	</script>
<!-- //stats -->
<!-- start-smoth-scrolling -->
<script type="text/javascript" src="{% static 'js/move-top.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.easing.min.js' %}"></script>
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- here stars scrolling icon -->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
				var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear'
				};
			*/

			$().UItoTop({ easingType: 'easeOutQuart' });

			});
	</script>
<!-- //here ends scrolling icon -->

<!-- for bootstrap working -->
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

       <!-- JS Vendor, Plugins & Activation Script Files -->

    <!-- Vendors JS (Common Js Files) -->
    <script src="{% static 'assets/js/modernizr-3.11.7.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery-migrate-3.3.2.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>

</body>

</html>