<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <style>
  form{
  padding:50px;
}
</style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

</head>
<body>
<div class="container">
    <a href="ssadmin" style="position:relative;top:20px;" class="btn btn-primary btn-lg active" role="button" aria-pressed="true"><i class="fa fa-angle-left">Go Back</i> </a>
{% for prod in products %}
<form method="post" action="ssedit" enctype="multipart/form-data">
    {% csrf_token %}
   <div class="form-group col-md-4">
      <label for="inputZip"><b>Variant</b></label><br>
      <h3>For Shirts/Pants/Dress:</h3>
        X-Large:
        <input type="checkbox" name="sise"  value="X-Large" ><br>
        X-Small:
        <input type="checkbox" name="sise"  value="X-Small" ><br>
        Small:
        <input type="checkbox" name="sise"  value="Small" ><br>
        Large:
        <input type="checkbox" name="sise" value="Large" ><br>
      <h3>Accessories/Sunglasses/Bags/Caps&Hats/Watches/Wallets:</h3>
        Small:
        <input type="checkbox" name="sise"  value="Small" ><br>
        Large:
        <input type="checkbox" name="sise" value="Large" ><br>
      <h3>Sunglassess/Jwellery:</h3>
        18:
        <input type="checkbox" name="sise"  value="18" ><br>
        20:
        <input type="checkbox" name="sise"  value="20" ><br>
        28:
        <input type="checkbox" name="sise"  value="28" ><br>
        30:
        <input type="checkbox" name="sise" value="30" ><br>
      <h3>Shoes/Footwears:</h3>
        7:
        <input type="checkbox" name="sise"  value="7" ><br>
        8:
        <input type="checkbox" name="sise"  value="8" ><br>
        9:
        <input type="checkbox" name="sise"  value="9" ><br>
        10:
        <input type="checkbox" name="sise" value="10" ><br>
    </div>
  <div class="form-group col-md-4">
      <label for="inputZip"><b>Delete Variant</b></label><br>
      <h3>For Shirts/Pants/Dress:</h3>
        X-Large:
        <input type="checkbox" name="sise"  value="X-Large" ><br>
        X-Small:
        <input type="checkbox" name="sise"  value="X-Small" ><br>
        Small:
        <input type="checkbox" name="sise"  value="Small" ><br>
        Large:
        <input type="checkbox" name="sise" value="Large" ><br>
      <h3>Accessories/Sunglasses/Bags/Caps&Hats/Watches/Wallets:</h3>
        Small:
        <input type="checkbox" name="sise"  value="Small" ><br>
        Large:
        <input type="checkbox" name="sise" value="Large" ><br>
      <h3>Sunglassess/Jwellery:</h3>
        18:
        <input type="checkbox" name="sise"  value="18" ><br>
        20:
        <input type="checkbox" name="sise"  value="20" ><br>
        28:
        <input type="checkbox" name="sise"  value="28" ><br>
        30:
        <input type="checkbox" name="sise" value="30" ><br>
      <h3>Shoes/Footwears:</h3>
        7:
        <input type="checkbox" name="sise"  value="7" ><br>
        8:
        <input type="checkbox" name="sise"  value="8" ><br>
        9:
        <input type="checkbox" name="sise"  value="9" ><br>
        10:
        <input type="checkbox" name="sise" value="10" ><br>
    </div>
    <input type="text" value="{{prod.id}}" name="idprod" hidden="hidden" required>
  <div class="form-group col-md-4">
      <label for="inputZip"><b>Name</b></label>
      <input type="text" value="{{prod.name}}" name="name" class="form-control" id="inputZip" required>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip"><b>Brand</b></label>
      <input type="text" value="{{prod.brand}}" name="brand" class="form-control" id="inputZip" required>
    </div>
  <div class="form-group col-md-2">
      <label for="inputZip"><b>Price</b></label>
      <input type="text" value="{{prod.price}}" name="price" class="form-control" id="inputZip" required>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip"><b>Price</b></label>
      <input type="text" value="{{prod.dprice}}" name="dprice" class="form-control" id="inputZip" required>
    </div>
  <div class="form-group">
    <label for="exampleFormControlFile1"><b>Image1</b></label>
      <img src="{{prod.image}}" width="80px" height="80px"></td>
    <input type="file" name="img1" value="{{ prod.image.url }}" class="form-control-file" id="exampleFormControlFile1" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1"><b>Image2</b></label>
      <img src="{{prod.image1}}" width="80px" height="80px"></td>
    <input type="file" name="img2" value="{{ prod.image1.url }}" class="form-control-file" id="exampleFormControlFile1" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlFile1"><b>Image3</b></label>
      <img src="{{prod.image2}}" width="80px" height="80px"></td>
    <input type="file" name="img3" value="{{ prod.image2.url }}" class="form-control-file" id="exampleFormControlFile1" required>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1"><b>Discription</b></label>
    <input class="form-control" value="{{prod.description}}" name="description" id="exampleFormControlTextarea1" rows="5" required></input>
  </div>
    <button type="submit" class="btn btn-primary">Add</button>
</form>
{% endfor %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>
    var men = ["1","2","3","4","5"];
    var women = ["6","7","8","9","10"];


$("#inputState").change(function(){
  var StateSelected = $(this).val();
  var optionsList;
  var htmlString = "";

  switch (StateSelected) {
    case "1":
        optionsList = men;
        break;
    case "2":
        optionsList = women;
        break;
}


  for(var i = 0; i < optionsList.length; i++){
    htmlString = htmlString+"<option value='"+ optionsList[i] +"'>"+ optionsList[i] +"</option>";
  }
  $("#inputDistrict").html(htmlString);

});
  </script>
    </div>
</body>
</html>