<!doctype html>
<html lang="en">
  <head>
	  {% load static %}
  	<title>Supreme register</title>
	  Admin Registration
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'register/css/style.css' %}">

	</head>
	<body class="img js-fullheight" style="background-image: url(static/register/images/bg.jpg) ;">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h1><span>S</span>upreme Shoppy <i class="fa fa-shopping-bag top_logo_agile_bag" aria-hidden="true"></i></a></h1>
		      	<form action="asignup" method="post" class="signin-form">
					{% csrf_token %}
		      		<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Username" name="User_Name" required>
		      		</div>
					<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Email" name="Email" required>
		      		</div>
					<div class="form-group">
		      			<input type="text" class="form-control" placeholder="First Name" name="first_name" required>
		      		</div>
					<div class="form-group">
		      			<input type="text" class="form-control" placeholder="Last Name" name="last_name" required>
		      		</div>
					<div class="form-group">
	              		<input  type="password" class="form-control"  placeholder="Password" name="password"   required>
	              		<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            	</div>
	            	<div class="form-group">
	              		<input  type="password" class="form-control"  placeholder="Confirm Password" name="confirmpassword"  required>
	              		<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            	</div>
	            	<div class="form-group">
	            		<input type="submit"  value="Sign up" class="form-control btn btn-primary submit px-3">
	            	</div>

	          	</form>
						<p  class="w-100 text-center"> Already a user? <a href="/"<strong>Login</strong></a> here</p>
	          <p class="w-100 text-center">&mdash; Or Sign up With &mdash;</p>
	          <div class="social d-flex text-center">
	          	<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>
	          	<a href="#" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Twitter</a>
	          </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/popper.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>


	</body>
</html>

